* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px red solid;*/
}
body {
    background-color: black;
    font-family: 'Merriweather', serif;
}

/* title*/
header {
    height: 60px;
    padding: 10px 25px;
    font-size: 1rem;

    background-color: black;
    color: white;
    /*border-bottom: 1px white solid;*/
    box-shadow: 0px 0px 5px 1px white;
}

/* search bar*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    border-radius: 15px;

    /*background-color: rgb(61, 59, 59);*/
    box-shadow: 0px 0px 5px 0px white;
    border: white 1px solid;
}
form {
    width: 300px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    color: white;
}
input {
    width: 250px;
    height: 45px;
    margin: 15px 0px;
    padding: 0px 5px;
    text-align: center;
    border-radius: 10px;

    font-family: 'Merriweather', serif;
    outline: none;
}
input::placeholder {
    text-align: center;
}

/* Movies list */
.movies-list {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0px 100px;
    padding: 0px 10px;
    border-radius: 15px;

    
    box-shadow: 0px 0px 5px 0px white;
    border: white 1px solid;
}
.movie {
    width: 250px;
    height: 400px;
    margin: 15px 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

 
    color: white;
    background-color: black;
    border: 0.5px white solid;
}
img {
    width: 170px;
    height: 190;
    border-radius: 15px;

    box-shadow: 0px 0px 5px 0px gray;
}
p {
    padding: 2px 20px;

    text-align: center;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}
.movie-details {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: none;

    font-family: 'Merriweather', serif;
    font-size: 0.7rem;
    text-decoration: none;

    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px 0px gray;
    transition: 200ms all ease-in-out;
}
.movie-details:hover {
    cursor: pointer;

    color: white;
    background-color: black;

    box-shadow: none;
    border: 0.5px gray solid;
}
