* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px red solid;*/
}
body {
    background-color: black;
    font-family: 'Merriweather', serif;
}
header {
    width: 100vw;
    height: 60px;
    padding: 10px 25px;
    font-size: 1rem;

    background-color: black;
    color: white;
    border-bottom: 1px white solid;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    border-radius: 15px;

    /*background-color: rgb(61, 59, 59);*/
    box-shadow: 0px 0px 5px 0px white;
    border: white 1px solid;
}
form {
    width: 300px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    color: white;
}
input {
    max-width: 300px;
    height: 45px;
    margin: 15px 0px;
    padding: 0px 5px;
    text-align: center;

    font-family: 'Merriweather', serif;
}
input::placeholder {
    text-align: center;
}